* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: #fff;
}

body {
  margin: 0;
}

main {
  margin-top: 6rem;
}

.test {
  background-color: red;
  color: white;
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  box-shadow: 5px 10px #888888;
  padding: 20px;
  background-color: whitesmoke;
}
